<? require(ViewDir.'/public/header.html'); ?> 
<!--main content start-->
<section id="main-content">
  <section class="wrapper">
    <section class="panel">
      <header class="panel-heading"> <span class="float-left">修改密码</span>
		<ul class="breadcrumb float-right">
			<li><a href="/user/main/">返回</a></li>
		</ul>
		</header>
      <section class="wrapper wrapper tab-container">
        <div class="row" style="height:100%; min-height:550px;" id="password_div" >
          <div class="col-xs-12">
            <section class="panel">
              <header class="form-box to_buy">
                <form class="form-inline">
                  <div class="form-group form-inline">
					  <p>
						  <span>向您的手机 <?=($userInfo['mobile'])?$userInfo['mobile']:'无'?> 发送验证码:</span><br/><br/>
						  <a href="javascript:;" class="btn btn-success btn-sm btn-block" id="sendCode" style="width: 153px;"><span class="ms1">确定</span><span class="ms2" style="display: none">还剩 <em id="ms_n">60</em>s 重发</span></a>
					  </p>
                    <p>
                      <p>请输入您收到的验证码：</p>
                      <input type="text"  name='old' id='old' class="form-control input-sm" autocomplete="off">
                      <font class="red" id="old_pass"></font> </p>
                    <p>
                      <p>请输入新密码：</p>
                      <input type="password"  id="usrName_popups"  class="form-control input-sm" >
                      <font class="red" id="new_pass"></font></p>
                    <p><a href="javascript:;" id='changepwd' class="btn btn-success btn-sm btn-block" style="width: 153px;">确认提交</a></p>
                  </div>
                </form>
              </header>
            </section>
          </div>
        </div>

        <div class="row" style="height:100%; min-height:550px;display:none;" id="success_div">
          <div class="modal-body">
            <ul class="list-inline ">
              <li><img src="<?=StaticDir?>workspace/img/up_pwdcg.png"/></li>
              <li>
                <h3 style="color:#60c531;">恭喜密码修改成功 </h3>
                <p>今后将使用新密码来登录系统，请牢记</p>
                <a href="/user/main/" class="btn btn-primary">返回</a></li>
            </ul>
          </div>
        </div>

      </section>
    </section>
  </section>
  <!--main content end--> 
</section>
<script type="text/javascript">
    $(function(){
        //手机号验证
        var reg = /^0?(13[0-9]|14[0-9]|15[0-9]|17[0-9]|18[0-9])[0-9]{8}$/;
		var yz1 = false;
        $("#phone").blur(function () {
			checkPhone();
        });
    });
	$('#old,#usrName_popups').focus(function(){
		$('#new_pass').html('');
		$('#old_pass').html('');
	});
	var oldpass = false;
	//获取验证码
	$(document).on('click', "#sendCode", function(){
		var mobile = "<?=$userInfo['mobile']?>";
		if(mobile){
			sendCode(mobile);
		}else{
			layer.msg('请绑定手机号');
		}
	});
	$('#changepwd').click(function(){
		var oldmess	= checkYzm($('#old'));
		if(oldmess == false){ return false; }
		var pwd = checkPasswordHtml($('#usrName_popups'));
		if(pwd == false){ return false; }
		$.ajax({
            type: "post",
            url: "/user/resetPassword/",
			async: true,
            data: {'code': $('#old').val(),'new':$("#usrName_popups").val()},
            dataType: "json",
            success: function(data){
                if (data.code == 1){
					$('#success_div').show().siblings().hide()
                }else{
					$('#new_pass').html(data.msg);
					return false;
                }
            }
		});
	})
	//验证密码
	function checkPasswordHtml(obj){
		passwordid = obj.val();
		var pregSZ = /^[\0-9]+$/g;//数字
		//var pregYW = /^[\a-zA-Z]+$/g;//英文
		var pregZW = /[\u4E00-\u9FA5]+/;//中文
		var pregKG = /\s+/g;//空格
		_mess_obj	= $(obj).parent().parent().find('.pass_mess').eq(0).attr('id');
		if(passwordid == ""){
			$('#new_pass').html('密码不能为空');
			return false;
		}else if(pregKG.test(passwordid)){
			$('#new_pass').html('密码不能有空格');
			return false;
		}else if(pregZW.test(passwordid)){
			$('#new_pass').html('密码不能是中文');
			return false;
		}else if(pregSZ.test(passwordid)){
			$('#new_pass').html('密码不能是纯数字');
			return false;
		}else if(passwordid.length>20 || passwordid.length<6){
			$('#new_pass').html('请输入6~20位非纯数字的密码');
			return false;
		}else{
			return true;
		}	
	}
	//验证验证码
	function checkYzm(obj){
		if($(obj).val() == ''){
			$('#old_pass').html( '验证码不能为空' );
			return false;
		}
		if($(obj).val().length>8){
			$('#old_pass').html( '验证码长度不正确' );
			return false;
		}
		return true;
	}
	//发送验证码
	function sendCode(umobVal){
		if( isSendCode == true ) {
			$.ajax({
				type: "POST",
				url: "/login/sendCode/",
				dataType: "json",
				data: {"account": umobVal, "cateId": 2},
				error: function (msg) {
					layer.msg('服务器繁忙请稍后再试');
				},
				success: function (data) {
					if (data.code == 1) {
						isSendCode = false;//是否发送验证码
						//页面显示
						$('.ms2').show();
						$('.ms1').hide();
						$('#sendCode').css('background-color','#CCC');
						countDown(downtime, $('#ms_n'));
					} else if (data.code == 2) {
						error('手机号不正确', 2);
					}else {
						layer.msg('发送失败');
					}
				}
			});
		}
	}
	//倒计时
	var downtime  	= 60;
	var isSendCode	= true;
	function countDown(count, obj){
		window.setTimeout (function () {
			count --;
			obj.text(count);
			if(count > -1){
				countDown(count, obj);
			}else{
				isSendCode = true;
				$('#sendCode').css('background-color','#78CD51');
				$('.ms2').hide();
				$('.ms1').show();
			}
		},1000);
	}
</script>
<? require(ViewDir.'/public/footer.html'); ?>