<? require(ViewDir.'/public/header.html'); ?> 
<!--main content start-->
<section id="main-content">
  <header class="tab-head">
    <ul class="nav nav-tabs">
      <li> <a href="/buyer/mysell/">出售中</a> </li>
      <li class="active"> <a href="/buyer/history/">已删除</a> </li>
    </ul>
  </header>
  <section class="wrapper tab-container">
    <div class="row">
      <div class="col-xs-12">
        <section class="panel">
          <header class="form-box">
            <form class="form-inline">
              <div class="form-group"> 商标名称/商标号：
                <input type="text" class="form-control input-sm" name="keywords" id="keywords" value="<?=$search['keywords']?>">
              </div>
              <div class="form-group">
                <button type="button" class="btn btn-success btn-sm"  id="wodesubmit">搜索</button>
                <button type="button" class="btn btn-primary btn-sm" onclick="window.open('<?=C('WEBSITE_URL')?>sell');">商标出售</button>
              </div>
            </form>
          </header>
          <div id="sample_1_wrapper" class="dataTables_wrapper form-inline" role="grid">
            <div class="form-inline padding">
              <div class="form-group">当前筛选结果<span class="red"><?=$data['total']?></span>个商标
                <!-- <button type="submit" class="btn btn-del btn-sm" data-toggle="modal" data-target="#batch-remove">批量删除</button> -->
              </div>
            </div>
            <table class="table table-striped border-top dataTable">
              <thead>
                <tr role="row">
                  <th width="5%"><input type="checkbox" class="group-checkable"></th>
                  <th width="15%">删除日期</th>
                  <th width="25%">商标号</th>
                  <th width="25%">商标名称</th>
                  <th width="15%">类别</th>
                  <th width="15%">售价</th>
                </tr>
              </thead>
              <tbody>
			  <? foreach($data['rows'] as $k => $item){ ?>
                <tr>
                  <td><input type="checkbox" class="checkboxes" value="1"></td>
                  <td><? echo date('Y-m-d', $item['date']);?></td>
                  <td><?=$item['data']['number']?></td>
                  <td title="<?=$item['data']['name']?>"><? echo mbSub($item['data']['name'],0,10);?></td>
                  <td><?=$item['data']['class']?>类</td>
                  <td><?=$item['price']?></td>
                </tr>
				<? } ?>
              </tbody>
            </table>
            <div class="row"><?=$pageBar?></div>
          </div>
        </section>
      </div>
    </div>
  </section>
  <!--main content end--> 
</section>

<script>

    /**
     * 输入框
     * @type {null}
     */
    var jInputTime = null;
    $('#monitorTipSell').on('keyup', '.jInput input', function(){
        clearTimeout(jInputTime);
        var _this = $(this);
        jInputTime = setTimeout(function(){
            var _span = _this.prev();
            if( _this.val() != '' ){
                _span.css('visibility', 'hidden');
            }else{
                _span.css('visibility', 'visible');
            }
        }, 100);
    });
    $(".ul-input-text input").keyup(function(){
        clearTimeout(jInputTime);
        var _this = $(this);
        jInputTime = setTimeout(function(){
            var _span = _this.prev();
            if( _this.val() != '' ){
                _span.css('visibility', 'hidden');
            }else{
                _span.css('visibility', 'visible');
            }
        }, 100);
    });


	function searchUrl (type, number){
		_status  	= (type == 'status') ? number : $("#search-status").val();
		_regdate  	= (type == 'regdate') ? number : $("#search-regdate").val();
		keyword  	= $("#keywords").val();
		location.href = "/buyer/mysell/?status="+_status+"&regdate="+_regdate+"&keywords="+keyword;
		return true;
	}
	function excelexport(){
		_status  	= $("#search-status").val();
		_regdate  	= $("#search-regdate").val();
		keyword  	= $("#keywords").val();
		url 		= "/buyer/excel/?status="+_status+"&regdate="+_regdate+"&keywords="+keyword;
		
		//location.href = url;
		$('#iframesrc').attr('src',url);
		return false;
	}

$('#wodesubmit').click(function(){
	location.href = '/buyer/history/?keywords='+$('#keywords').val();
})
</script>
<? require(ViewDir.'/public/footer.html'); ?>