<? require(ViewDir.'/header.html'); ?>
<link rel="stylesheet" href="<?=StaticDir?>style/management.css"/>
<script type="text/javascript" src="<?=StaticDir?>script/laydate/laydate.js"></script>
<!--content start-->
<div class="mj-content">
    <div class="w1180 f-clearfix">
<? require(ViewDir.'/buyer/left.html'); ?>
        <div class="mj-right fr">
            <div class="mj-menu">
                <span>我的管理</span><em>></em>
                <span>已买到</span>
            </div>
            <div class="mj-manDet_main">
                <div class="mj-trademark_top">
                    <ul class="mj-traTab f-clearfix">
                        <li><a href="/buyer/myinfo/">我要买</a></li>
                        <li class="on"><a href="javascript:void(0);">已买到</a></li>
                    </ul>
                    <div class="mj-tabCon">

                        <!-- 已买到 start -->
						<input  type="hidden" id="search-class" value="<?=$search['class']?>"/>
						<input  type="hidden" id="search-regdate" value="<?=$search['regdate']?>"/>

                        <div class="g-tabCon">
                            <div class="mj-tabCon_main">
                                <div class="trademark_sort g-sort f-clearfix">
									<span class="trademark_sort_up" onclick="searchUrl('regdate','<? echo $search['regdate'] == 'desc' ? 'asc': 'desc'; ?>');">按申请日排序<i class="uj-icon uj-icon27 <? if ($search['regdate'] == 'desc'){ echo 'uj-icon27s'; } ?>"></i></span>
                                    
                                    <form class="ul-input-text g-ul-text">
                                        <span class="mj-inpuV">商标名称/商标号</span>
										<input type="text" name="keywords" id="keywords" value="<?=$search['keyword']?>"/>
                                    </form>
                                    <select name="" id="class" style="float: left;" onchange='searchUrl("class", this.value)'>
                                        <option value="0">-请选择类别-</option>
										<? for ($i = 1; $i <= 45; $i ++){ ?>
                                        <option value="<? echo $i;?>">第<? echo $i;?>类</option>
										<? } ?>
                                    </select>
                                    <label for="wodesubmit" class="ul-input-submit"  onclick="searchUrl('','')"><button type="submit" id="wodesubmit"><img src="<?=StaticDir?>style/img/l-2.png" alt="" >搜索</button></label>

                                    <div class="trademark_sort_txt">符合条件的有<span><?=$data['total']?></span>个</div>
                                </div>
                                <table class="trademark_list f-clearfix">
                                    <tbody>
									<? foreach ($data['rows'] as $item){ ?>
                                        <tr>
                                            <td width="10%" class="tdbor">
                                                <span class="trademark_list_img">
                                                    <? if($item['sale'] != 0 ){echo '<label class="new bgor">出售中</label>';}?>
													
                                                    <a href="<?=$item['trade']['shansoo_url']?>" target="_blank"><img src="<?=$item['trade']['imgUrl']?>" class="img" onerror="this.src='/Static/style/img/default_big.jpg'" /></a>
                                                </span>
                                            </td>
                                            <td width="30%" colspan="2">
                                                <div class="n1"><a href="<?=$item['trade']['shansoo_url']?>" target="_blank" title="<?=$item['trade']['trademark']?>"><b><? echo mbSub($item['trade']['trademark'],0,10);?></b></a><span>第<?=$item['trade']['class']?>类，商标号：<?=$item['trade']['id']?></span></div>
                                                <div class="n2">申请人 : <a><?=$item['trade']['proposerName']?></a></div>
                                                <div class="n3">申请日 :  <em><?=$item['trade']['apply_date']?></em></div>
                                                <div class="n3">注册日 :  <em><?=$item['trade']['reg_date']?></em></div>
                                                <div class="n4">商标状态：
                                                    <em class="g-bwf">
                                                        <strong><?=$item['second'][0]?></strong>
														<? if (count($item['second']) > 1){ ?>
                                                        <a href="javascript:;" class="g-on">&gt;</a>
                                                        <span class="g-span_mt">
															<? foreach($item['second'] as $k=>$v){ if($k==0){ continue; }?>
                                                            <strong class="mj-des"><?=$v?></strong>
															<? } ?>
                                                        </span>
														<? } ?>
                                                    </em>
                                                </div>
                                            </td>
                                            <td width="10%">
                                                <div class="trademark_list_bd">
													<? if($item['sale'] ==  0 ){ ?>
													<a href="javascript:void(0);" class="trademark_list_cs colo delEm"
                                                   onclick="sellFun(this,'<?=$item['trade']['id']?>','<?=$item['trade']['trademark']?>');">出售/许可</a>
												   <? } ?>
													
                                                    <a href="<?=$item['trade']['shansoo_url']?>" class="trademark_list_cs colb" target="_blank">详情</a> <br>
                                                </div>
                                            </td>
                                        </tr>
										<? } ?>
                                    </tbody>
                                </table>

                                <!--page-->
                                <div class="mj-pageCon"><?=$pageBar?></div>
                                <!--page end-->
                            </div>
                        </div>
                        <!-- 已买到 end -->
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--content end--> 

<!--弹层 start-->
<div class="g-run f-clearfix" style="display: none;">
	<form autocomplete='off'>
    <div class="f-clearfix"><a href="javascript:;" class="g-close"></a></div>
    <div class="g-run_nav">
        <h4>你是否确定出售/许可以下商标吗？<br/><i id='trackinfo'></i></h4>
		<input type="hidden" id="trademark" value=""/>
        <div class="g-run_input">
            <span><input type="checkbox" id="saleType1" value="1"/>出售</span>
            <span><input type="checkbox" id="saleType2" value="1"/>许可</span>
        </div>
        <div class="g-run_board">
            <div class="g-run_board_input">
                <p>姓名：</p>
                <input type="text" placeholder="请输入您的姓名" id="salename"/>
            </div>
            <div class="g-run_board_input">
                <p>手机号码：</p>
                <input type="text" placeholder="请输入您的手机号码" id="salephone" maxlength="15"/>
            </div>
            <div class="g-run_board_input g-run_board_dj">
                <p>出售底价：</p>
                <div class="f-clearfix">
                    <input type="text" placeholder="请输入价格" id="saleprice" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"/>
                    <select name="" id="pricetype">
                        <option value ="1">元</option>
                        <option value ="10000">万</option>
                    </select>
                </div>
            </div>
            <div class="g-run_a f-clearfix">
                <a href="javascript:;" id="submitform">确定出售</a>
            </div>
            <span class="g-run_board_span">温馨提示：确认出售后你可以进入“我是卖家”对已出售的商标进行管理</span>
        </div>
    </div>
	</form>
</div>
<!--弹层 end-->

<script type="text/javascript">
    $(function(){

        //改变时间排序图标
        $(".trademark_sort_up").click(function(){
            //由近及远排序图标
            $(".trademark_sort_up i").addClass("uj-icon27");

            //由远及近排序图标
            $(".trademark_sort_up i").toggleClass("uj-icon27s");
        });
        //tab切换
        $(".mj-traTab>li").click(function(){
            $(this).addClass("on").siblings("li").removeClass("on");
            $('.mj-tabCon>div:eq('+$(this).index()+')').show().siblings().hide();
        });
    });
    /* 更多 */
    function showMoreSelect(dom){
        var box = $(dom).parent().children().eq(1);
        if( box.hasClass('trademark_select_item1') ){
            box.removeClass('trademark_select_item1');
            $(dom).addClass('trademark_select_up');
            $(dom).html("收起");
        }else{
            box.addClass('trademark_select_item1');
            $(dom).removeClass('trademark_select_up');
            $(dom).html("更多");
        }
    }
    /**
     * 输入框
     * @type {null}
     */
    var jInputTime = null;
    $('#monitorTipSell').on('keyup', '.jInput input', function(){
        clearTimeout(jInputTime);
        var _this = $(this);
        jInputTime = setTimeout(function(){
            var _span = _this.prev();
            if( _this.val() != '' ){
                _span.css('visibility', 'hidden');
            }else{
                _span.css('visibility', 'visible');
            }
        }, 100);
    });
    $(".ul-input-text input").keyup(function(){
        clearTimeout(jInputTime);
        var _this = $(this);
        jInputTime = setTimeout(function(){
            var _span = _this.prev();
            if( _this.val() != '' ){
                _span.css('visibility', 'hidden');
            }else{
                _span.css('visibility', 'visible');
            }
        }, 100);
    });
 
 
	//筛选器按钮
	function searchUrl (type, number){
		_class = (type == 'class') ? number : $("#search-class").val();
		_regdate  = (type == 'regdate') ? number : $("#search-regdate").val();
		keyword  = $("#keywords").val();
		location.href = "/buyer/tradelist/?class="+_class+"&regdate="+_regdate+"&keyword="+keyword;
		return true;
	}
	/*$('#submit').click(function(){
		location.href = '/buyer/myinfo/?state='+$('#state').val()+'&startdate='+$('#startdate').val()+'&enddate='+$('#enddate').val();
	})*/

	$("#class").val(<?=$search['class'] ?>);

	
    //出售/许可弹层
	function sellFun(obj,number,name){
		$('#trackinfo').html(name+" 商标号"+number);
		$('#trademark').val(number);
		
        layer.open({
            type: 1,
            title: false,
            closeBtn: false,
            skin: 'yourclass',
            offset: ['15%', '32%'],
            content: $('.g-run')
        });
        $(".g-close").click(function(){
            layer.closeAll();
        });
	}

	$('#submitform').click(function(){
		_name	= $("#salename").val();
		_number	= $("#trademark").val();
		_phone	= $("#salephone").val();
		_price	= $("#saleprice").val();
		_type	= $("#pricetype").val();
		type1	= $("#saleType1").is(":checked") == true ? 1 : 0;
		type1	= $("#saleType2").is(":checked") == true ? (parseInt(type1) + 2) : type1;

		if(type1 == 0){
			layter_msg('请选择出售/许可', 0, '');return false;
		}
		var reg = /0?(13|14|15|18)[0-9]{9}/;
		if( reg.test(_phone) == false ){
			layter_msg('手机号码格式有误', 0, '');return false;
		}

		$.ajax({
			 type: "GET",
             url: "/mytrade/addsale/",
             data: {'number':_number, 'name':_name, 'phone':_phone, 'price':_price, 'pricetype':_type, 'saleType':type1},
             dataType: "json",
			 success: function(data){
				 if(data.code == '999'){
					alert('出售/许可成功');
					layer.closeAll();
					location.reload() ;
					return true;
				 }else{
					alert('出售/许可失败，请仔细检查输入信息');
					return false;
				 }
			 }
		})
	})
</script>
<? require(ViewDir.'/footer.html'); ?>
