<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="Mosaddek">
<meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
<link rel="shortcut icon" href="img/favicon.html">
<title>商标服务-我的出售（出售详情）</title>

<!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/bootstrap-reset.css" rel="stylesheet">
<!--external css-->
<link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
<!-- Custom styles for this template -->
<link href="css/style.css" rel="stylesheet">
<link href="css/style-responsive.css" rel="stylesheet" />
<link href="css/tablestyle.css" rel="stylesheet">
<!--[if lte IE 8]> 
<script> 
   (function() {
     if (! 
     /*@cc_on!@*/
     0) return;
     var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');
     var i= e.length;
     while (i--){
         document.createElement(e[i])
     } 
})() 
</script>
<![endif]-->
</head>

<body>
<section id="container" class=""> 
  <!--header start-->
  <header class="header white-bg">
    <!--logo start--> 
    <a href="#" class="logo" ></a> 
    <div class="sidebar-toggle-box">
      <div data-original-title="Toggle Navigation" data-placement="right" class="icon-reorder tooltips"></div>
    </div>
    <!--logo end-->
    <div class="nav notify-row" id="top_menu"> 
      <!--  notification start -->
      <ul class="nav top-menu">
        <!-- inbox dropdown start-->
        <li id="header_inbox_bar" class="dropdown"> <a class="dropdown-toggle" href="#"> <i class="icon-envelope-alt"></i> <span class="badge bg-important">5</span> </a></li>
        <!-- inbox dropdown end --> 
        <!-- notification dropdown start-->
        <li id="header_notification_bar" class="dropdown"> <a class="dropdown-toggle" href="#"> <i class="icon-bell-alt"></i> <span class="badge bg-warning">7</span> </a></li>
        <!-- notification dropdown end -->
        <li class="dropdown"> <a data-toggle="dropdown" class="dropdown-toggle user" href="#"> <img alt="" src="img/avatar1_small.jpg"> <span class="username">杨子木</span> <b class="caret"></b> </a>
          <ul class="dropdown-menu" style="border:none;">
            <li><a href="#">退出登录</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="top-nav ">
      <ul class="nav pull-right top-menu">
        <!-- user login dropdown start-->
        <li class="dropdown counselors"> <a data-toggle="dropdown" class="dropdown-toggle counselor" href="#"><span class="username"><font size="1">我是你的顾问</font><br /><font size="3">万野</font></span></a>
		 <ul class="dropdown-menu" style="width:235px;">
            <li class="counselor-tell"><a href="#"><i class="icon-phone"></i>400-676-1007</a></li>
            <li class="counselor-email"><a href="#"><i class="icon-envelope"></i>deccy.wan@chofn.com</a></li>
           <li class="counselor-btn" style=""><button type="button" class="btn btn-success float-left">我要咨询</button> <button type="button" class="btn btn-primary float-left">评价TA</button></li>
          </ul>
        </li>
        <!-- user login dropdown end -->
      </ul>
    </div>
  </header>
  <!--header end--> 
  <!--sidebar start-->
  <aside>
    <div id="sidebar"  class="nav-collapse "> 
      <!-- sidebar menu start-->
      <ul class="sidebar-menu">
        <li class="sub-menu active"> <a href="#" class=""> <i class="icon-book"></i> <span>商标服务</span> <span class="arrow"></span> </a>
          <ul class="sub">
              <li><a class="" href="商标服务-我的需求.html">我的需求</a></li>
              <li class="active"><a class="" href="商标服务-所有商标.html">我的商标</a></li>
              <li><a class="" href="商标服务-我的收藏（竞手商标）.html">我的收藏（5）</a></li>
              <li><a class="" href="商标服务-我的求购.html">我的求购（2）</a></li>
              <li><a class="" href="###">监控商标</a></li>
              <li><a class="" href="商标服务-我的出售（出售中）.html">我的出售</a></li>
          </ul>
        </li>
        <li class="sub-menu"> <a href="###" class=""> <i class="icon-cogs"></i> <span>快捷工具</span> <span class="arrow"></span> </a>
          <ul class="sub">
            <li><a class="" href="###">11</a></li>
            <li><a class="" href="###">22</a></li>
            <li><a class="" href="###">33</a></li>
          </ul>
        </li>
        <li class="sub-menu"> <a href="###" class=""> <i class="icon-user"></i> <span>用户中心</span> <span class="label label-danger pull-right">2</span> </a>
          <ul class="sub">
            <li class="active"><a class="" href="账户信息-基本信息.html">基本信息</a></li>
            <li><a class="" href="###">22</a></li>
            <li><a class="" href="###">33</a></li>
          </ul>
        </li>
      </ul>
      <!-- sidebar menu end--> 
    </div>
  </aside>
<!--sidebar end--> 
<!--main content start-->
<section id="main-content">
  <section class="wrapper">
    <section class="panel">
      <header class="panel-heading"> <span class="float-left">出售信息</span>
        <ul class="breadcrumb float-right">
          <li><a href="#">返回</a></li>
          <li><a href="#">首页</a></li>
        </ul>
      </header>
      <div class="panel-body">
        <div class="centerbox">
          <div class="sell-info">
            <div class="row">
              <div class="col-xs-2">
			  <div class="tab_imgsize" style="margin-left:30px;"><a><img src="img/icon2.gif" /></a></div>
			  </div>
              <div class="col-xs-7">
                <p>
                  <button type="button" class="btn btn-success btn-xs">出售中</button>
                  <font size="+1">蒙顶山</font>（第42类   商标号 :  123456）</p>
				  <p>申请人 :  四川超凡知识产权代理有限公司 </p>
				  <p class="gray">已注册   申请日 :  2003-8-15     注册日 :  2006-2-14 </p>
              </div>
              <div class="col-xs-3 cs_xqp" style="line-height:40px;">
			  <p><i class="icon-user"></i> 在售：12 </p>
			  <p><i class="icon-eye-open"></i> 浏览：300</p>
			  <p><i class="icon-star"></i> 收藏：233</p>
			  </div>
            </div>
			 <div class="row">
              <div class="col-xs-2"></div>
              <div class="col-xs-8 sell-other">
                <p>授权方式：出售 / 许可</p>
				<p>出售价格：<span class="red">5</span>万 <a href="#">修改</a></p>
              </div>
            </div>
            <!-- <div class="row">
			  <div class="col-xs-2"></div>
              <div class="col-xs-7">
                <p>申请人 :  四川超凡知识产权代理有限公司 </p>
              </div>
              <div class="col-xs-3"> <i class="icon-eye-open"></i> 浏览：300 </div>
            </div>
            <div class="row">
             <div class="col-xs-2"></div>
              <div class="col-xs-7">
                <p class="gray">已注册   申请日 :  2003-8-15     注册日 :  2006-2-14 </p>
              </div>
              <div class="col-xs-3 text-left"> <i class="icon-star"></i> 收藏：233 </div>
            </div>
            <div class="sell-other" style="width: 88%;">
              <p>授权方式：出售 / 许可</p>
              <p>出售价格：<span class="red">5</span>万 <a href="#">修改</a></p>
            </div>-->
          </div> 
          <div class="panel-body process">
            <p>交易动态</p>
            <div class="timeline-messages"> 
              <!-- Comment -->
              <div class="msg-time-chat">
                <div class="message-body msg-in"> <span class="arrow"></span>
                  <div>
                    <p>购买商标已上报商标局进行转让备案</p>
                    <p class="gray">16/1/20 23:55:13</p>
                  </div>
                </div>
              </div>
              <!-- /comment --> 
              
              <!-- Comment -->
              <div class="msg-time-chat">
                <div class="message-body msg-out"> <span class="arrow"></span>
                  <div>
                    <p class="red">购买成功！已成交商标：123456、147258</p>
                    <p class="gray">16/1/20 23:55:13</p>
                  </div>
                </div>
              </div>
              <!-- /comment --> 
              
              <!-- Comment -->
              <div class="msg-time-chat">
                <div class="message-body msg-in"> <span class="arrow"></span>
                  <div>
                    <p>根据你的需求已匹配到商标，商标号：123456、147258、369258</p>
                    <p class="gray">16/1/20 23:55:13</p>
                  </div>
                </div>
              </div>
              <!-- /comment --> 
              
              <!-- Comment -->
              <div class="msg-time-chat">
                <div class="message-body msg-out"> <span class="arrow"></span>
                  <div>
                    <p>你的需求已进入洽谈阶段</p>
                    <p class="gray">16/1/20 23:55:13</p>
                  </div>
                </div>
              </div>
              <!-- /comment --> 
              <!-- Comment -->
              <div class="msg-time-chat">
                <div class="message-body msg-in"> <span class="arrow"></span>
                  <div>
                    <p>顾问已提取需求，将于30分钟内与你联系，请保持电话畅通！</p>
                    <p class="gray">16/1/20 23:55:13</p>
                  </div>
                </div>
              </div>
              <!-- /comment --> 
              <!-- Comment -->
              <div class="msg-time-chat">
                <div class="message-body msg-in"> <span class="arrow"></span>
                  <div>
                    <p>求购需求已分配专业顾问处理【专属顾问：****】</p>
                    <p class="gray">16/1/20 23:55:13</p>
                  </div>
                </div>
              </div>
              <!-- /comment --> 
              <!-- Comment -->
              <div class="msg-time-chat">
                <div class="message-body msg-in"> <span class="arrow"></span>
                  <div>
                    <p>你的需求已受理</p>
                    <p class="gray">16/1/20 23:55:13</p>
                  </div>
                </div>
              </div>
              <!-- /comment --> 
              <!-- Comment -->
              <div class="msg-time-chat">
                <div class="message-body msg-in"> <span class="arrow"></span>
                  <div>
                    <p>求购需求提交成功，请等待系统确认</p>
                    <p class="gray">16/1/20 23:55:13</p>
                  </div>
                </div>
              </div>
              <!-- /comment --> 
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
  <!--main content end--> 
</section>
</section>
<!-- js placed at the end of the document so the pages load faster --> 
<script src="js/jquery.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<!--common script for all pages--> 
<script src="js/common-scripts.js"></script>
</body>
</html>
